<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SecretCloset app testing">

    <test name="SecretCloset app item and seller test">
        <classes>
            <class name="SecretClosetTest"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->

